nodered_flow/flow.json
[
  {
    "id": "tab_main",
    "type": "tab",
    "label": "Smart Env",
    "disabled": false
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "z": "tab_main",
    "name": "Local broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered_smartenv",
    "autoConnect": true,
    "keepalive": "60",
    "cleansession": true
  },

  { "id": "ui_tab_main", "type": "ui_tab", "name": "Monitoring", "icon": "dashboard", "order": 1 },
  { "id": "ui_tab_ctrl", "type": "ui_tab", "name": "Control", "icon": "settings_remote", "order": 2 },
  { "id": "ui_tab_alerts", "type": "ui_tab", "name": "Alerts", "icon": "warning", "order": 3 },

  { "id": "grp_temp", "type": "ui_group", "name": "Temperature", "tab": "ui_tab_main", "order": 1, "disp": true, "width": "6" },
  { "id": "grp_hum", "type": "ui_group", "name": "Humidity", "tab": "ui_tab_main", "order": 2, "disp": true, "width": "6" },
  { "id": "grp_light", "type": "ui_group", "name": "Light Level", "tab": "ui_tab_main", "order": 3, "disp": true, "width": "6" },
  { "id": "grp_motion", "type": "ui_group", "name": "Motion", "tab": "ui_tab_main", "order": 4, "disp": true, "width": "6" },
  { "id": "grp_dist", "type": "ui_group", "name": "Distance", "tab": "ui_tab_main", "order": 5, "disp": true, "width": "6" },
  { "id": "grp_chart", "type": "ui_group", "name": "Trends", "tab": "ui_tab_main", "order": 6, "disp": true, "width": "12" },
  { "id": "grp_status", "type": "ui_group", "name": "System Status", "tab": "ui_tab_main", "order": 7, "disp": true, "width": "12" },

  { "id": "grp_control", "type": "ui_group", "name": "Manual Control", "tab": "ui_tab_ctrl", "order": 1, "disp": true, "width": "12" },
  { "id": "grp_thresholds", "type": "ui_group", "name": "Thresholds", "tab": "ui_tab_ctrl", "order": 2, "disp": true, "width": "12" },

  { "id": "grp_alerts", "type": "ui_group", "name": "Active Alerts", "tab": "ui_tab_alerts", "order": 1, "disp": true, "width": "12" },
  { "id": "grp_log", "type": "ui_group", "name": "Alert History", "tab": "ui_tab_alerts", "order": 2, "disp": true, "width": "12" },

  {
    "id": "mqtt_in_temp",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Temperature In",
    "topic": "sensors/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 80,
    "wires": [["json_temp", "debug_temp_raw"]]
  },
  {
    "id": "debug_temp_raw",
    "type": "debug",
    "z": "tab_main",
    "name": "Debug temperature",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "json_temp",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 80,
    "wires": [["fn_temp_value"]]
  },
  {
    "id": "fn_temp_value",
    "type": "function",
    "z": "tab_main",
    "name": "payload = value",
    "func": "if (msg.payload && typeof msg.payload.value !== 'undefined') {\n  msg.payload = Number(msg.payload.value);\n} else {\n  msg.payload = 0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 80,
    "wires": [["gauge_temp", "chart_th", "debug_gauge_in"]]
  },
  {
    "id": "debug_gauge_in",
    "type": "debug",
    "z": "tab_main",
    "name": "To gauge",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 750,
    "y": 40,
    "wires": []
  },
  {
    "id": "inject_test_temp",
    "type": "inject",
    "z": "tab_main",
    "name": "Test 25 every 3s",
    "props": [{"p": "payload"}],
    "repeat": "3",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "25",
    "payloadType": "num",
    "x": 140,
    "y": 20,
    "wires": [["gauge_temp"]]
  },
  {
    "id": "inject_test_hum",
    "type": "inject",
    "z": "tab_main",
    "name": "Test 60 every 3s",
    "props": [{"p": "payload"}],
    "repeat": "3",
    "crontab": "",
    "once": true,
    "onceDelay": "1.5",
    "topic": "",
    "payload": "60",
    "payloadType": "num",
    "x": 140,
    "y": 160,
    "wires": [["gauge_hum"]]
  },
  {
    "id": "inject_test_light",
    "type": "inject",
    "z": "tab_main",
    "name": "Test 2000 every 3s",
    "props": [{"p": "payload"}],
    "repeat": "3",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "2000",
    "payloadType": "num",
    "x": 150,
    "y": 220,
    "wires": [["gauge_light"]]
  },
  {
    "id": "inject_test_motion",
    "type": "inject",
    "z": "tab_main",
    "name": "No motion every 5s",
    "props": [{"p": "payload"}],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "2.5",
    "topic": "",
    "payload": "No motion",
    "payloadType": "str",
    "x": 150,
    "y": 280,
    "wires": [["text_motion"]]
  },
  {
    "id": "inject_test_dist",
    "type": "inject",
    "z": "tab_main",
    "name": "Test 30 every 3s",
    "props": [{"p": "payload"}],
    "repeat": "3",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "payload": "30",
    "payloadType": "num",
    "x": 140,
    "y": 340,
    "wires": [["gauge_dist"]]
  },
  {
    "id": "inject_test_status",
    "type": "inject",
    "z": "tab_main",
    "name": "Status every 10s",
    "props": [{"p": "payload"}],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "3.5",
    "topic": "",
    "payload": "Uptime: 0s  RSSI: -50 dBm  FreeHeap: 200000",
    "payloadType": "str",
    "x": 150,
    "y": 400,
    "wires": [["text_status"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab_main",
    "name": "Temperature",
    "group": "grp_temp",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Temperature (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 80,
    "wires": []
  },

  {
    "id": "mqtt_in_hum",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Humidity In",
    "topic": "sensors/humidity",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 140,
    "wires": [["json_hum"]]
  },
  {
    "id": "json_hum",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 140,
    "wires": [["fn_hum_value"]]
  },
  {
    "id": "fn_hum_value",
    "type": "function",
    "z": "tab_main",
    "name": "payload = value",
    "func": "if (msg.payload && typeof msg.payload.value !== 'undefined') {\n  msg.payload = Number(msg.payload.value);\n} else {\n  msg.payload = 0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 140,
    "wires": [["gauge_hum", "chart_th"]]
  },
  {
    "id": "gauge_hum",
    "type": "ui_gauge",
    "z": "tab_main",
    "name": "Humidity",
    "group": "grp_hum",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Humidity (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 140,
    "wires": []
  },

  {
    "id": "mqtt_in_light",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Light In",
    "topic": "sensors/light",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 200,
    "wires": [["json_light"]]
  },
  {
    "id": "json_light",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 200,
    "wires": [["fn_light_value"]]
  },
  {
    "id": "fn_light_value",
    "type": "function",
    "z": "tab_main",
    "name": "payload = value",
    "func": "if (msg.payload && typeof msg.payload.value !== 'undefined') {\n  msg.payload = Number(msg.payload.value);\n} else {\n  msg.payload = 0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 200,
    "wires": [["gauge_light"]]
  },
  {
    "id": "gauge_light",
    "type": "ui_gauge",
    "z": "tab_main",
    "name": "Light Level",
    "group": "grp_light",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Light (ADC)",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "colors": ["#000000", "#999999", "#ffffff"],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 200,
    "wires": []
  },

  {
    "id": "mqtt_in_motion",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Motion In",
    "topic": "sensors/motion",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 260,
    "wires": [["json_motion"]]
  },
  {
    "id": "json_motion",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 260,
    "wires": [["fn_motion_text", "fn_alert_from_motion"]]
  },
  {
    "id": "fn_motion_text",
    "type": "function",
    "z": "tab_main",
    "name": "Motion text",
    "func": "if (msg.payload.detected) {\n    msg.payload = \"MOTION DETECTED\";\n} else {\n    msg.payload = \"No motion\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 260,
    "wires": [["text_motion"]]
  },
  {
    "id": "text_motion",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_motion",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Motion",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 750,
    "y": 260,
    "wires": []
  },

  {
    "id": "mqtt_in_dist",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Distance In",
    "topic": "sensors/distance",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 320,
    "wires": [["json_dist"]]
  },
  {
    "id": "json_dist",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 320,
    "wires": [["fn_dist_value"]]
  },
  {
    "id": "fn_dist_value",
    "type": "function",
    "z": "tab_main",
    "name": "payload = value",
    "func": "if (msg.payload && typeof msg.payload.value !== 'undefined') {\n  msg.payload = Number(msg.payload.value);\n} else {\n  msg.payload = 0;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 320,
    "wires": [["gauge_dist"]]
  },
  {
    "id": "gauge_dist",
    "type": "ui_gauge",
    "z": "tab_main",
    "name": "Distance",
    "group": "grp_dist",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Distance (cm)",
    "label": "cm",
    "format": "{{value}}",
    "min": 0,
    "max": 200,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 320,
    "wires": []
  },

  {
    "id": "chart_th",
    "type": "ui_chart",
    "z": "tab_main",
    "name": "Temp/Humidity Chart",
    "group": "grp_chart",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Temperature & Humidity",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#ff0000", "#0000ff", "#ff7f0e"],
    "useOldStyle": false,
    "x": 980,
    "y": 120,
    "wires": [[], []]
  },

  {
    "id": "mqtt_in_status",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Status In",
    "topic": "system/status",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 380,
    "wires": [["json_status"]]
  },
  {
    "id": "json_status",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 320,
    "y": 380,
    "wires": [["fn_status"]]
  },
  {
    "id": "fn_status",
    "type": "function",
    "z": "tab_main",
    "name": "Format status text",
    "func": "var u = msg.payload.uptime || 0;\nvar rssi = msg.payload.rssi || 0;\nvar heap = msg.payload.freeHeap || 0;\nmsg.payload = \"Uptime: \" + u + \"s  RSSI: \" + rssi + \" dBm  FreeHeap: \" + heap;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 380,
    "wires": [["text_status", "trigger_offline"]]
  },
  {
    "id": "text_status",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_status",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "System Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 810,
    "y": 380,
    "wires": []
  },
  {
    "id": "trigger_offline",
    "type": "trigger",
    "z": "tab_main",
    "name": "Offline watchdog",
    "op1": "",
    "op2": "ESP32 OFFLINE",
    "op1type": "nul",
    "op2type": "str",
    "duration": "30",
    "extend": true,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 820,
    "y": 420,
    "wires": [["text_status"]]
  },

  {
    "id": "ui_led_toggle",
    "type": "ui_switch",
    "z": "tab_main",
    "name": "Red LED",
    "label": "Red LED",
    "tooltip": "",
    "group": "grp_control",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 140,
    "y": 480,
    "wires": [["fn_led_cmd"]]
  },
  {
    "id": "fn_led_cmd",
    "type": "function",
    "z": "tab_main",
    "name": "Build LED JSON",
    "func": "msg.payload = JSON.stringify({\n    state: msg.payload ? \"on\" : \"off\",\n    color: \"red\"\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 480,
    "wires": [["mqtt_out_led"]]
  },
  {
    "id": "mqtt_out_led",
    "type": "mqtt out",
    "z": "tab_main",
    "name": "",
    "topic": "actuators/led",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 570,
    "y": 480,
    "wires": []
  },

  {
    "id": "ui_buzzer_toggle",
    "type": "ui_switch",
    "z": "tab_main",
    "name": "Buzzer",
    "label": "Buzzer",
    "group": "grp_control",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 140,
    "y": 540,
    "wires": [["fn_buzzer_cmd"]]
  },
  {
    "id": "fn_buzzer_cmd",
    "type": "function",
    "z": "tab_main",
    "name": "Build buzzer JSON",
    "func": "msg.payload = JSON.stringify({\n    state: msg.payload ? \"on\" : \"off\"\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 540,
    "wires": [["mqtt_out_buzzer"]]
  },
  {
    "id": "mqtt_out_buzzer",
    "type": "mqtt out",
    "z": "tab_main",
    "name": "",
    "topic": "actuators/buzzer",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 590,
    "y": 540,
    "wires": []
  },

  {
    "id": "ui_relay_toggle",
    "type": "ui_switch",
    "z": "tab_main",
    "name": "Relay",
    "label": "Relay",
    "group": "grp_control",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 140,
    "y": 600,
    "wires": [["fn_relay_cmd"]]
  },
  {
    "id": "fn_relay_cmd",
    "type": "function",
    "z": "tab_main",
    "name": "Build relay JSON",
    "func": "msg.payload = JSON.stringify({\n    state: msg.payload ? \"on\" : \"off\"\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 600,
    "wires": [["mqtt_out_relay"]]
  },
  {
    "id": "mqtt_out_relay",
    "type": "mqtt out",
    "z": "tab_main",
    "name": "",
    "topic": "actuators/relay",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 590,
    "y": 600,
    "wires": []
  },

  {
    "id": "ui_servo_slider",
    "type": "ui_slider",
    "z": "tab_main",
    "name": "",
    "label": "Servo Angle",
    "group": "grp_control",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "",
    "min": 0,
    "max": "180",
    "step": 1,
    "x": 150,
    "y": 660,
    "wires": [["fn_servo_cmd"]]
  },
  {
    "id": "fn_servo_cmd",
    "type": "function",
    "z": "tab_main",
    "name": "Build servo JSON",
    "func": "msg.payload = JSON.stringify({\n    angle: msg.payload\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 660,
    "wires": [["mqtt_out_servo"]]
  },
  {
    "id": "mqtt_out_servo",
    "type": "mqtt out",
    "z": "tab_main",
    "name": "",
    "topic": "actuators/servo",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 590,
    "y": 660,
    "wires": []
  },

  {
    "id": "ui_temp_thr",
    "type": "ui_numeric",
    "z": "tab_main",
    "name": "",
    "label": "Max Temperature (°C)",
    "group": "grp_thresholds",
    "order": 1,
    "width": 0,
    "height": 0,
    "wrap": false,
    "delay": "500",
    "topic": "temp_max",
    "format": "{{value}}",
    "min": 20,
    "max": 50,
    "step": 1,
    "x": 170,
    "y": 720,
    "wires": [["join_thr"]]
  },
  {
    "id": "ui_light_thr",
    "type": "ui_numeric",
    "z": "tab_main",
    "name": "",
    "label": "Min Light (ADC)",
    "group": "grp_thresholds",
    "order": 2,
    "width": 0,
    "height": 0,
    "wrap": false,
    "delay": "500",
    "topic": "light_min",
    "format": "{{value}}",
    "min": 0,
    "max": 4095,
    "step": 10,
    "x": 170,
    "y": 760,
    "wires": [["join_thr"]]
  },
  {
    "id": "ui_dist_thr",
    "type": "ui_numeric",
    "z": "tab_main",
    "name": "",
    "label": "Min Distance (cm)",
    "group": "grp_thresholds",
    "order": 3,
    "width": 0,
    "height": 0,
    "wrap": false,
    "delay": "500",
    "topic": "dist_min",
    "format": "{{value}}",
    "min": 5,
    "max": 100,
    "step": 1,
    "x": 170,
    "y": 800,
    "wires": [["join_thr"]]
  },
  {
    "id": "join_thr",
    "type": "join",
    "z": "tab_main",
    "name": "Build thresholds object",
    "mode": "auto",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "2",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 430,
    "y": 760,
    "wires": [["fn_thr_cmd"]]
  },
  {
    "id": "fn_thr_cmd",
    "type": "function",
    "z": "tab_main",
    "name": "Build thresholds JSON",
    "func": "msg.payload = JSON.stringify({\n    temp_max: msg.payload.temp_max || 30,\n    light_min: msg.payload.light_min || 500,\n    dist_min: msg.payload.dist_min || 20\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 760,
    "wires": [["mqtt_out_thr"]]
  },
  {
    "id": "mqtt_out_thr",
    "type": "mqtt out",
    "z": "tab_main",
    "name": "",
    "topic": "config/thresholds",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 900,
    "y": 760,
    "wires": []
  },

  {
    "id": "fn_alert_from_motion",
    "type": "function",
    "z": "tab_main",
    "name": "Build alert message",
    "func": "var alerts = flow.get('alerts') || [];\nvar now = new Date().toISOString();\n\nif (msg.payload.detected) {\n    var text = now + \" - MOTION DETECTED\";\n    alerts.unshift(text);\n    alerts = alerts.slice(0, 50);\n    flow.set('alerts', alerts);\n    return { payload: text };\n} else {\n    return null;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 880,
    "wires": [["ui_alert_text", "ui_alert_table", "file_log"]]
  },
  {
    "id": "ui_alert_text",
    "type": "ui_text",
    "z": "tab_main",
    "group": "grp_alerts",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Last Alert",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 520,
    "y": 860,
    "wires": []
  },
  {
    "id": "ui_alert_table",
    "type": "ui_template",
    "z": "tab_main",
    "group": "grp_log",
    "name": "Alert History",
    "order": 1,
    "width": 0,
    "height": 0,
    "format": "<table>\n  <tr><th>Recent Alerts</th></tr>\n  <tr ng-repeat=\"row in msg.payload\">\n    <td>{{row}}</td>\n  </tr>\n</table>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 540,
    "y": 900,
    "wires": [[]]
  },
  {
    "id": "file_log",
    "type": "file",
    "z": "tab_main",
    "name": "Log to file",
    "filename": "/tmp/sensor_alerts.log",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 530,
    "y": 940,
    "wires": [[]]
  }
]

